body {
    font-family: 'Playfair Display',
    serif;
    margin: 0;
    border: 4px black solid;
}

#header {
    background-image: url('../img/landBg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 400px;
    background-attachment: fixed;
}

#header h1 {
    font-size: 126px;
}

#mainContainer {
    background-image: url('../img/wee.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% auto;
    min-height: 1000px;
}

.about {
    position: relative;
    animation-name: about;
    border-radius: 0px;
}

.about h3 {
    color: deeppink;
    font-size: 38px;
}

#playArea {
    position: relative;
    background: rgba(11, 6, 43, 0.5);
    width: auto;
}

.playUser {
    font-size: 24px;
}

#userInputArea {
    display: none;
}

.pingResult {
    width: auto;
}

#resultsContainer {
    width: 45%;
    box-sizing: border-box;
}

.resultsP {
    border-radius: 7px;
    width: auto;
}

.resultsP:hover {
    border: solid rgb(184, 0, 0);
}

#resultsSummary {
    width: 45%;
    box-sizing: border-box;
    float: left;
}
.hideButton {
    display: none;
}

#playBtnBtn {
    font-size: 28px;
    letter-spacing: 0.2em;
}

.totalResults {
    display: none;
}
/* 
.clickToPlay {
    animation-delay: 0.4s;
} */

#playAgain:hover {
    animation: none;
}

#playAgain button:hover {
    background-color: rgb(177, 166, 15);
    font-size: 26px;

}

.anim-delay-1 {
     animation-delay: 250;
}

.anim-delay-2 {
     animation-delay: 500;
}

.anim-delay-3 {
    animation-delay: 750;
}

.anim-delay-4 {
    animation-delay: 1000;
}

.anim-loop {
    animation-iteration-count: infinite;
}


