body {
    font-family: 'Playfair Display',
    serif;
    margin: 0;
    border: 4px black solid;
}

#header {
    background-image: url('../img/landBg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 400px;
    background-attachment: fixed;
}

#mainContainer {
    background-image: url('../img/wee.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    background-attachment: fixed;
    animation-name: mainContainer;
    animation-duration: 3s;
    left: -28%;
}

.about {
    left: -28%;
    position: relative;
    animation-name: about;
    border-radius: 0px;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes about{
    100%{left: 0%;
    border-radius: 0px 60px 0px 0px;}
}

.about h3 {
    color: deeppink;
    font-size: 38px;
}

#playArea {
    background: rgba(0, 0, 0, .5);
    width: auto;
    left: 0px;
}

#userInputArea {
    display: none;
}

.pingResult {
    width: auto;
}

#resultsContainer {
    width: 45%;
    box-sizing: border-box;
}

.resultsP {
    border-radius: 7px;
    width: auto;
}

#resultsSummary {
    width: 45%;
    box-sizing: border-box;
    float: left;
}
.hideButton {
    display: none
}



